
$form-background-color: #0E223A;
$form-text-color: white;
$form-control-background-color: #0A1C32;
$form-control-text-color: #0E223A;
$form-control-placeholder-color: #b0b0b0;
$btn-primary-background-color: #56CB96;
$btn-primary-hover-background-color: #e6e6e6;
$btn-outline-hover-background-color: #ffffff33; // Add a semi-transparent white background for hover
$btn-outline-active-background-color: #ffffff66; // Add a more opaque white background for active
$logo-width: 15vw;
$logo-max-width: 100px;
$logo-margin: 30px;
$element-height: 50px; // Define a variable for element height
$text-button-color: #c1c1c1; // Define a variable for text button color

.register-layout {
  .form-column {
    background-color: $form-background-color;
    color: $form-text-color;
    padding: 20px;
    height: 100vh; /* Full height of the screen */
    direction: rtl; /* Right-to-left direction */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-column {
    background-size: cover; // Cover the entire area
  }

  .logo-image {
    width: $logo-width; /* Make the image size dynamic based on screen width */
    max-width: $logo-max-width; /* Ensure the image does not exceed 100px */
    margin: $logo-margin; /* Add more margin */
    position: absolute; /* Make the logo absolute */
    top: 0;
    left: 0;
  }

  .icon-color {
    color: $text-button-color !important; // Set icon color to $text-button-color
  }
}
