.footer {
    background-color: #0e223a;
    padding: 40px 0;
    bottom: 0;
    width: 100vw; // Changed from 100% to 100vw to span the entire screen width
    color: #ffffff;

    .footer-logo {
        width: 100px;
        margin-bottom: 10px;
    }

    .footer-text {
        color: #c1c1c1;
    }

    .footer-link {
        color: #c1c1c1;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
            color: #56cb96;
        }
    }

    h5 {
        font-weight: bold;
        margin-bottom: 20px;
        color: #ffffff;
    }

    ul {
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 10px;

            a {
                color: #c1c1c1;
                text-decoration: none;

                &:hover {
                    color: #56cb96;
                }
            }
        }
    }

    hr {
        border-top: 1px solid #dee2e6;
    }

    .social-icon {
        font-size: 1.5em;
        color: #ffffff;
        margin: 0 10px;

        &:hover {
            color: #56cb96;
        }
    }
}
