.custom-input {
  background-color: #0A1C32; // Use the same background color as defined in login.scss
  border-radius: 7px;
  border: 0px solid transparent; // Show border on hover
  color: #c1c1c1 !important; // Ensure text color is white
  
  &::placeholder {
    color: lighten(#c1c1c1, 20%) !important; // Ensure lighter color for placeholder
  }

  &:hover {
    border: 0px solid #c1c1c1; // Show border on hover
  }

  .MuiSvgIcon-root {
    color: #c1c1c1 !important; // Set icon color to #c1c1c1
  }
}
